<h1 style="text-align: center;">Introduction to Data Science - Assignment 3</h1>
<h3 style="text-align: center;">Name: Hugo Hayashi</h3>
<h3 style="text-align: center;">Student ID: 22446441</h3>

## Question 1

In [64]:
# Your fancy code here
import numpy as np
import pandas as pd

matrix = np.random.rand(10, 10) # Generates a 10 x 10 matrix using the NumPy function for generating random numbers
second_row = matrix[1, :] # Extracts the second row
third_column = matrix[:, 2] # Extracts the third column
third_column *= 10 # Multiplies the third column by 10
df = pd.DataFrame(matrix) # Coverts the modified matrix to a DataFrame

df.to_csv('df.csv') # Exports the DataFrame to a CSV file

## Question 2

In [ ]:
#More code and comments...
df = pd.read_csv('gdp.csv') # Loads the CSV file into a DataFrame
ten_rows = df.head(10) # Displays the first 10 rows of the Dataframe
print(ten_rows)
group = df.groupby('Country Name')['Value'] # Calculates the mean, standard deviation, and sum of the GDP for each country
group_mean = group.mean()
group_stdev = group.std()
group_sum = group.sum()
group_mean = pd.DataFrame(group_mean) # Filters the DataFrame to include only rows where the GDP is greater than the mean GDP for that country
group_mean.rename(columns={'Value': 'Mean'}, inplace=True)
df = pd.merge(df, group_mean, on = 'Country Name')
filtered_df = df[df['Value'] > df['Mean']]
filtered_df = filtered_df.drop(columns = ['Mean'])
print(filtered_df)
df['Growth Rate'] = df['Value'].pct_change(periods = 1) * 100 # Calculates the growth rate of GDP for each country
df = df.fillna(0)
print(df)

  Country Name Country Code  Year         Value
0  Afghanistan          AFG  2000  3.521418e+09
1  Afghanistan          AFG  2001  2.813572e+09
2  Afghanistan          AFG  2002  3.825701e+09
3  Afghanistan          AFG  2003  4.520947e+09
4  Afghanistan          AFG  2004  5.224897e+09
5  Afghanistan          AFG  2005  6.203257e+09
6  Afghanistan          AFG  2006  6.971758e+09
7  Afghanistan          AFG  2007  9.747886e+09
8  Afghanistan          AFG  2008  1.010930e+10
9  Afghanistan          AFG  2009  1.241615e+10
      Country Name Country Code  Year         Value
10     Afghanistan          AFG  2010  1.585667e+10
11     Afghanistan          AFG  2011  1.780510e+10
12     Afghanistan          AFG  2012  1.990733e+10
13     Afghanistan          AFG  2013  2.014642e+10
14     Afghanistan          AFG  2014  2.049713e+10
...            ...          ...   ...           ...
13974     Zimbabwe          ZWE  2019  2.183223e+10
13975     Zimbabwe          ZWE  2020  2.150970e+10
13976     Zimbabwe          ZWE  2021  2.837124e+10
13977     Zimbabwe          ZWE  2022  2.736663e+10
13978     Zimbabwe          ZWE  2023  2.653827e+10

[5175 rows x 4 columns]
      Country Name Country Code  Year         Value          Mean  Growth Rate
0      Afghanistan          AFG  2000  3.521418e+09  1.309344e+10     0.000000
1      Afghanistan          AFG  2001  2.813572e+09  1.309344e+10   -20.101172
2      Afghanistan          AFG  2002  3.825701e+09  1.309344e+10    35.973125
3      Afghanistan          AFG  2003  4.520947e+09  1.309344e+10    18.173017
4      Afghanistan          AFG  2004  5.224897e+09  1.309344e+10    15.570851
...            ...          ...   ...           ...           ...          ...
13974     Zimbabwe          ZWE  2019  2.183223e+10  8.722444e+09   -36.080951
13975     Zimbabwe          ZWE  2020  2.150970e+10  8.722444e+09    -1.477341
13976     Zimbabwe          ZWE  2021  2.837124e+10  8.722444e+09    31.899751
13977     Zimbabwe          ZWE  2022  2.736663e+10  8.722444e+09    -3.540950
13978     Zimbabwe          ZWE  2023  2.653827e+10  8.722444e+09    -3.026875

[13979 rows x 6 columns]

## Question 3

In [65]:
df1 = pd.DataFrame({'ID': ['123', '234', '345', '456', '567', '678'], 'Name': ['Omori', 'Basil', 'Kel', 'Aubrey', 'Hero', 'Mari'], 'Age': [15, 16, 17, 16, 19, 17]})
df2 = pd.DataFrame({'ID': ['123', '234', '345', '456', '567', '678'], 'Salary': [50000, 20000, 48000, 30000, 80000, 60000], 'Department': ['Music', 'Agriculture', 'Sports', 'Sports', 'Medicine', 'Music']})
merged_df = pd.merge(df1, df2, on = 'ID') # Merges df1 and df2 on the 'ID' column
average_salary = merged_df.groupby('Department')['Salary'].mean() # Computes the average salary for each department
sorted_df = merged_df.sort_values(by = 'Salary', ascending = False) # Sorts the merged DataFram by salary in descending order and exports the result to a CSV file
sorted_df.to_csv('sorted_df.csv')

## Question 4