<h1 style="text-align: center;">Introduction to Data Science - Assignment 3</h1>
<h3 style="text-align: center;">Name: Hugo Hayashi</h3>
<h3 style="text-align: center;">Student ID: 22446441</h3>

## Question 1

In [1]:
# Your fancy code here
import numpy as np
import pandas as pd

matrix = np.random.rand(10, 10) # Generates a 10 x 10 matrix using the NumPy function for generating random numbers
second_row = matrix[1, :] # Extracts the second row
print(f"Second row: {second_row}")
third_column = matrix[:, 2] # Extracts the third column
print(f"\nThird column: \n{third_column}")
third_column *= 10 # Multiplies the third column by 10
print(f"\nThird column edited: \n{third_column}")
df = pd.DataFrame(matrix) # Coverts the modified matrix to a DataFrame
df.to_csv('df.csv') # Exports the DataFrame to a CSV file

Second row: [0.19837275 0.42881951 0.80114682 0.449579   0.52903622 0.55574388
 0.81365909 0.21337757 0.28793922 0.67979235]

Third column:
[0.49787868 0.80114682 0.15392706 0.45793131 0.31836191 0.4667664
 0.10924011 0.10570352 0.65432114 0.02728336]

Third column edited:
[4.97878677 8.01146818 1.5392706  4.57931305 3.18361906 4.66766396
 1.09240113 1.05703518 6.54321137 0.27283362]

## Question 2

In [2]:
#More code and comments...
df = pd.read_csv('gdp.csv') # Loads the CSV file into a DataFrame
ten_rows = df.head(10) # Displays the first 10 rows of the Dataframe
print(ten_rows)
group = df.groupby('Country Name')['Value'] # Calculates the mean, standard deviation, and sum of the GDP for each country
group_mean = group.mean()
group_stdev = group.std()
group_sum = group.sum()
print(f"\nMean:\n{group_mean}\n\nStandard deviation:\n{group_stdev}\n\nSum:\n{group_sum}")
group_mean = pd.DataFrame(group_mean) # Filters the DataFrame to include only rows where the GDP is greater than the mean GDP for that country
group_mean.rename(columns={'Value': 'Mean'}, inplace=True)
df = pd.merge(df, group_mean, on = 'Country Name')
filtered_df = df[df['Value'] > df['Mean']]
filtered_df = filtered_df.drop(columns = ['Mean'])
print(f"\n{filtered_df}")
df['Growth Rate'] = df['Value'].pct_change(periods = 1) * 100 # Calculates the growth rate of GDP for each country
df = df.fillna(0)
print(f"\n{df}")

  Country Name Country Code  Year         Value
0  Afghanistan          AFG  2000  3.521418e+09
1  Afghanistan          AFG  2001  2.813572e+09
2  Afghanistan          AFG  2002  3.825701e+09
3  Afghanistan          AFG  2003  4.520947e+09
4  Afghanistan          AFG  2004  5.224897e+09
5  Afghanistan          AFG  2005  6.203257e+09
6  Afghanistan          AFG  2006  6.971758e+09
7  Afghanistan          AFG  2007  9.747886e+09
8  Afghanistan          AFG  2008  1.010930e+10
9  Afghanistan          AFG  2009  1.241615e+10

Mean:
Country Name
Afghanistan                    1.309344e+10
Africa Eastern and Southern    3.766765e+11
Africa Western and Central     2.795214e+11
Albania                        7.868635e+09
Algeria                        7.971057e+10
                                   ...
West Bank and Gaza             9.448803e+09
World                          3.356915e+13
Yemen, Rep.                    2.087460e+10
Zambia                         8.339744e+09
Zimbabwe                       8.722444e+09
Name: Value, Length: 262, dtype: float64

Standard deviation:
Country Name
Afghanistan                    6.418341e+09
Africa Eastern and Southern    3.655828e+11
Africa Western and Central     2.892601e+11
Albania                        6.072031e+09
Algeria                        7.622343e+10
                                   ...
West Bank and Gaza             5.660829e+09
World                          3.126725e+13
Yemen, Rep.                    1.121958e+10
Zambia                         9.211725e+09
Zimbabwe                       7.631959e+09
Name: Value, Length: 262, dtype: float64

Sum:
Country Name
Afghanistan                    3.011490e+11
Africa Eastern and Southern    2.410729e+13
Africa Western and Central     1.788937e+13
Albania                        3.147454e+11
Algeria                        5.101476e+12
                                   ...
West Bank and Gaza             2.834641e+11
World                          2.148426e+15
Yemen, Rep.                    6.053635e+11
Zambia                         5.337436e+11
Zimbabwe                       5.582364e+11
Name: Value, Length: 262, dtype: float64

      Country Name Country Code  Year         Value
10     Afghanistan          AFG  2010  1.585667e+10
11     Afghanistan          AFG  2011  1.780510e+10
12     Afghanistan          AFG  2012  1.990733e+10
13     Afghanistan          AFG  2013  2.014642e+10
14     Afghanistan          AFG  2014  2.049713e+10
...            ...          ...   ...           ...
13974     Zimbabwe          ZWE  2019  2.183223e+10
13975     Zimbabwe          ZWE  2020  2.150970e+10
13976     Zimbabwe          ZWE  2021  2.837124e+10
13977     Zimbabwe          ZWE  2022  2.736663e+10
13978     Zimbabwe          ZWE  2023  2.653827e+10

[5175 rows x 4 columns]

      Country Name Country Code  Year         Value          Mean  Growth Rate
0      Afghanistan          AFG  2000  3.521418e+09  1.309344e+10     0.000000
1      Afghanistan          AFG  2001  2.813572e+09  1.309344e+10   -20.101172
2      Afghanistan          AFG  2002  3.825701e+09  1.309344e+10    35.973125
3      Afghanistan          AFG  2003  4.520947e+09  1.309344e+10    18.173017
4      Afghanistan          AFG  2004  5.224897e+09  1.309344e+10    15.570851
...            ...          ...   ...           ...           ...          ...
13974     Zimbabwe          ZWE  2019  2.183223e+10  8.722444e+09   -36.080951
13975     Zimbabwe          ZWE  2020  2.150970e+10  8.722444e+09    -1.477341
13976     Zimbabwe          ZWE  2021  2.837124e+10  8.722444e+09    31.899751
13977     Zimbabwe          ZWE  2022  2.736663e+10  8.722444e+09    -3.540950
13978     Zimbabwe          ZWE  2023  2.653827e+10  8.722444e+09    -3.026875

[13979 rows x 6 columns]

## Question 3

In [3]:
df1 = pd.DataFrame({'ID': ['123', '234', '345', '456', '567', '678'], 'Name': ['Omori', 'Basil', 'Kel', 'Aubrey', 'Hero', 'Mari'], 'Age': [15, 16, 17, 16, 19, 17]})
df2 = pd.DataFrame({'ID': ['123', '234', '345', '456', '567', '678'], 'Salary': [50000, 20000, 48000, 30000, 80000, 60000], 'Department': ['Music', 'Agriculture', 'Sports', 'Sports', 'Medicine', 'Music']})
print(f"df1:\n{df1}\n\ndf2:\n{df2}")
merged_df = pd.merge(df1, df2, on = 'ID') # Merges df1 and df2 on the 'ID' column
print(f"\n\nMerged_df:\n{merged_df}")
average_salary = merged_df.groupby('Department')['Salary'].mean() # Computes the average salary for each department
print(f"\n\nAverage salary for each department:\n{average_salary}")
sorted_df = merged_df.sort_values(by = 'Salary', ascending = False) # Sorts the merged DataFram by salary in descending order and exports the result to a CSV file
print(f"\n\nSorted_df:\n{sorted_df}")
sorted_df.to_csv('sorted_df.csv')

df1:
    ID    Name  Age
0  123   Omori   15
1  234   Basil   16
2  345     Kel   17
3  456  Aubrey   16
4  567    Hero   19
5  678    Mari   17

df2:
    ID  Salary   Department
0  123   50000        Music
1  234   20000  Agriculture
2  345   48000       Sports
3  456   30000       Sports
4  567   80000     Medicine
5  678   60000        Music


Merged_df:
    ID    Name  Age  Salary   Department
0  123   Omori   15   50000        Music
1  234   Basil   16   20000  Agriculture
2  345     Kel   17   48000       Sports
3  456  Aubrey   16   30000       Sports
4  567    Hero   19   80000     Medicine
5  678    Mari   17   60000        Music


Average salary for each department:
Department
Agriculture    20000.0
Medicine       80000.0
Music          55000.0
Sports         39000.0
Name: Salary, dtype: float64


Sorted_df:
    ID    Name  Age  Salary   Department
4  567    Hero   19   80000     Medicine
5  678    Mari   17   60000        Music
0  123   Omori   15   50000        Music
2  345     Kel   17   48000       Sports
3  456  Aubrey   16   30000       Sports
1  234   Basil   16   20000  Agriculture

## Question 4